#header .row {
	z-index: 4;
	position: relative;
}

#home__section .row,
#scroll_down,
#work__section .row,
#view_projects,
#resume__section .row,
#contact__section .row,
#copyright {
	z-index: 3;
	position: relative;
}

.slideUp {
	display: inline-block;
	overflow: hidden;

	span {
		position: relative;
		display: inline-block;
		transition: transform 0.3s;
		padding: 6px 0;

		&::before {
			position: absolute;
			white-space: nowrap;	
			top: 100%;
			content: attr(data-hover);
  			padding: 6px 0;
		}
	}
}

.bounce {
	animation: bounce 3s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-50%);
	}
	60% {
		transform: translateY(-25%);
	}
}

.block-revealer {
	display: inline-block;
}

.block-revealer__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $black;
	pointer-events: none;
	opacity: 0;
}

.wow { 
	visibility: hidden;
}