$white:						#ffffff;
$gray:						#898b8c;

}

}

body {
	color: $white;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	background-color: $black;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	line-height: 1.6;
}

a:link {
    color: $white;
}

a:visited {
    color: $white;
}

a:hover {
    color: $gray;
}

a:active {
}

	margin: 0 auto;

}

	#logo {
		width: 100%;
	}


		li {

			a {
				font-size: 0.813em;
				letter-spacing: 3px;
				text-transform: uppercase;
			}
		}
	}
}



		.svg-inline--fa {
		}
}



		}
	}
}

#footer {

	}


		}

	}



			}
		}
	}





}


	}
	}




	}

	#footer {



		}
	}
}