$white:						#ffffff;
$light-accent:				#e9eaea;
$light-title:				#b9babc;
$light-paragraph:			#959699;

$black:						#1C1D21;
$dark-accent:				#2C2D33;
$dark-title:				#67676a;
$dark-paragraph:			#8e8e90;

// Dev_Mode
// div {
// 	border: 1px solid red;
// }

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-Regular.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-Regular.woff') format('woff'),
        url('../fonts/TiemposHeadline-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-Bold.woff2') format('woff2'),
    	url('../fonts/TiemposHeadline-Bold.woff') format('woff'),
        url('../fonts/TiemposHeadline-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@keyframes appear_block {

	0% {
    	left: 0;
		width: 0%;
	}

	50% {
    	left: 0;
		width: 100%;
	}

	100%{
		left: 100%;
		width: 0%;
	}
}

@keyframes appear_text {

	0% {
		opacity: 0;
		visibility: hidden;
	}

	100%{
		opacity: 1;
		visibility: visible;
	}
}

.slideUp {
	display: inline-block;
	overflow: hidden;

	span {
		position: relative;
		display: inline-block;
		transition: transform 0.3s;
		padding: 6px 0;

		&::before {
			position: absolute;
			white-space: nowrap;	
			top: 100%;
			content: attr(data-hover);
  			padding: 6px 0;
		}
	}
}

.bounce {
	animation: bounce 3s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-50%);
	}
	60% {
		transform: translateY(-25%);
	}
}

wow { visibility: hidden; }

.overflow-hidden {
	position: fixed;
	overflow-y: scroll;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Lora', serif;
	color: $white;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	background-color: $black;
}

::selection {
  background: $white;
}

#header,
#home,
#work h1, 
#work h4,
#work .work_item,
#work #project_container #view_projects,
#resume .row,
#contact .row,
#contact #contact_details,
#copyright {
	z-index: 3;
	position: relative;
} 

h1 {
	font-family: 'Tiempos Headline';
	font-weight: 800;
	line-height: 1.4;
	margin: 1.125rem 0 1rem;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.813em;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0;
}

a {
    color: $white;
    text-decoration: none;
    transition: color .3s;
}

a:hover {
    color: $dark-title;
}

a:active {
    color: $dark-paragraph;
}

p {
	line-height: 1.67;
	font-size: 1.063em;
	margin-top: 0;
}

a.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.688em;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding: 1.25rem 1.5rem;
	font-weight: 600;
	display: inline-block;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	transition-delay: .15s;

	span {
		position: relative;
		display: inline-block;
		transition: all 0.3s ease-in-out;

		&::before {
			position: absolute;
			white-space: nowrap;	
			top: 350%;
			left: 0;
			content: attr(data-hover);
		}
	}

	&:hover {
		transform: translateY(-15%);

		span {
			transform: translateY(-350%);

			&::before {
			}
		}
	}
}

a.btn-dark {
	background: $dark-accent;
	color: $white;
}

a.btn-light {
	color: $dark-accent;
	box-shadow: inset 0px 0px 0px 2px $dark-accent;
}

a.btn-alt {
	color: $dark-accent;
	background: $white;
}

img {
	width: 100%;
	height: auto;
}

hr {
	display: inline-block;
	border: 0;
	background: $dark-accent;
	height: 2px;
	width: 100%;
	margin: .5rem 0 .25rem;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

#loading {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $black;
	z-index: 99;

	img {
		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
		width: 75px;
		height: 75px;
	}
	
}

#mobile-nav {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $black;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	z-index: 3;

  	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
		
		li {
			padding: 7px;

			a {
				position: relative;
				color: $white;
				font-family: 'Tiempos Headline';
    			font-weight: 800;
    			line-height: 1.4;
    			font-size: 1.875rem;

				&:hover {
					color: $white;
				}
			}
		}

		h4 {
			font-family: 'Montserrat', sans-serif;
			font-size: 0.813em;
			letter-spacing: 3px;
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: .75rem;
			color: $dark-paragraph;
		}
	
		.social {

			a {
				color: $dark-accent;

				.svg-inline--fa {
					margin: 0 12px;
					font-size: 1.125rem;
				}

				&:hover {
					color: $white;
				}
			}
		}
	}
}

#header {
	padding: 2rem 1rem;
	z-index: 4;

	#logo {
		width: 100%;
		max-width: 50px;
	}

	ul.nav {
		display: none;

		li {

			&:hover {
	
				a {
					color: $white;
	
					span {
						transform: translateY(-100%);
					}
				}
			}

			a {
				font-family: 'Montserrat', sans-serif;
				font-size: 0.813em;
				letter-spacing: 3px;
				text-transform: uppercase;
			}
		}
	}

	.menu {
		cursor: pointer;
		width: 25px;
		margin-left: auto;
		z-index: 99;
		position: relative;
		  
		span {
		   	width: 100%;
		   	height: 2px;
		   	background: $white;
		   	border-radius: 4px;
		   	display: block;
		   	margin-bottom: 5px;
		   	transition: all .3s;

		   	&:nth-child(1) {
		   		width: 60%;
		   	}

		   	&:nth-child(3) {
		   		margin-bottom: 0;
		   	}
		}

		&:hover {
		   	span {
		   		&:nth-child(1) {
		   			width: 25px;
		   		}
		   	}
		}

		&.menu-open {
				
			span {
			    transform-origin: 50% 50%;
			   
			    &:nth-child(1) {
			    	width: 25px;
			    	transform: rotate(45deg) translate(5px,5px);
			   	}
			   
			   	&:nth-child(2) {
			   		opacity: 0;
			   	}
			   
			   	&:nth-child(3) {
			    	transform: rotate(-45deg) translate(5px,-5px);
			   	}
			}
		}
	}
}

#home {
	position: relative;
	padding: 2rem 1rem 4.25rem;

	h1 {
		&:first-of-type {
			margin-bottom: 0;
		}
		&:last-of-type {
			margin-top: 0;
		}
	}

	h4 {
		color: $dark-title;
	}

	p {
		color: $dark-paragraph;
	}

	.social_icons {
		margin: 2rem 0 0;

		.svg-inline--fa {
			margin: 0 15px 0 0;
			font-size: 1.125em;
		}

		hr {
			margin-left: -.5rem;
		}
	}

	#scroll_down {
		display: none;
		margin-left: .5rem;
	
		.svg-inline--fa {
			font-size: 1.5em;
		}
	}
}

#main_container {
	position: relative;

	#swirl01 {
		position: absolute;
		left: 50%;
		top: 0;
		width: 50%;
		height: 107%;
		background-image: url('../img/swirl01.png');
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: 0 0;
	}
}


#work {
	position: relative;

	&::before {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		background-image: url('../img/wave01.svg');
		background-size: 100% 125%;
		background-repeat: no-repeat;
		padding-bottom: 4%;
		content: '';
		transform: translateY(-98%);
	}

	padding: 4rem 1rem;
	background: $white;
	margin: 0 auto;
	background-image: linear-gradient(-1deg, #F4F7F6 55%, #FFFFFF 100%);

	.title_hr {

		hr {
			display: none;
		}

		h4 {
			margin-left: -.5rem;
		}
	}

	h1 {
		color: $dark-accent;
	}

	h4 {
		color: $light-title;
	}

	#project_container {
		position: relative;
		margin-top: 2rem;

		#swirl02 {
			content: '';
			position: absolute;
			left: -1rem;
			top: -1.5rem;
			width: calc(50% + 1rem);
			height: 75%;
			background-image: url('../img/swirl02.png');
			background-size: auto 100%;
			background-repeat: no-repeat;
		}

		.work_item {
			margin-bottom: 2.5rem;

			img {
				margin-bottom: -5px;
			}

			.client_logo {
				background: $white;
				text-align: center;
			}

		}

		#view_projects {
			margin-top: 3rem;

			hr {
				background: $light-accent;
				width: 90%;
				margin-left: .5rem;
			}
		}
	}
}

#resume {
	padding: 4rem 1rem 5rem;
	background: #fff;
	position: relative;
	overflow: hidden;

	#swirl03 {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 106%;
		background-image: url('../img/swirl03.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: top right;
	}

	h1 {
		color: $dark-accent;
	}

	h4 {
		color: $light-title;
	}

	p {
		color: $light-paragraph;
	}

	.title_hr {

		hr {
			display: none;
		}

		h4 {
			margin-left: -.5rem;
		}
	}

	#view_resume {
		margin-top: 2rem;
		margin-bottom: -1rem;

		.btn {
			margin-right: 1rem;
			margin-bottom: 1rem;
		}
	}
}

#contact {
	position: relative;
	padding: 4rem 1rem;

	&::before {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		background-image: url('../img/wave02.svg');
		background-size: 100% 125%;
		background-repeat: no-repeat;
		padding-bottom: 4%;
		content: '';
		transform: translateY(-98%);
	}

	h4 {
		color: $dark-title;
	}

	p {
		color: $dark-paragraph;
	}

	#swirl01 {
		position: absolute;
		left: 50%;
		top: 0;
		width: 50%;
		height: 107%;
		background-image: url('../img/swirl01.png');
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: 0 0;
	}

	#say_hello {
		margin: 2rem 0 2.5rem;
	}

	#contact_details {

		h4 {
			margin-bottom: 0.5rem;
		}

		ul {
			margin-left: 0;
			padding-left: 0;
			margin-bottom: 0;

			li {
				list-style-type: none;
				line-height: 1.67;
				font-size: 1.063em;
			}
		}

		p {
			margin-bottom: 2rem;
		}
	}
}

#copyright {
	padding: 1.25rem 1rem;
	background-color: $dark-accent;

	p {
		margin-bottom: 0;
		font-size: 0.938em;
		color: $dark-title;
	}
}

.grid {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: 1770px;
    mix-blend-mode: difference;

    .line {
   		position: relative;
   		display: block;
   		height: 100%;
   		width: 1px;
   		float: left;
   		margin: 0 -1px 0 50%;
   		background: $white;
   		opacity: .04;
    }
}


// 768px +
@media (min-width: 48em) {

	h1 {
		font-size: 2.35rem;
	}
	
	#header {

		ul.nav {
			text-align: right;
			display: block;
			margin: 0;
	
			li {
				display: inline-block;
				padding: 0 20px;
	
				&:last-child {
					padding-right: 0;
				}
			}
		}

		.menu {
			display: none;
		}
	}

	#home {
		padding: 4.5rem 1rem 6.5rem;

		h1 {
			margin-top: -5px;
		}
	}

	#work {
		padding: 6rem 1rem;

		.title_hr {

			hr {
				display: inline-block;
    			background: $light-accent;
    			width: 90%;
			}

			h4 {
				margin-left: -.25rem;
			}
		}

		#project_container {
			margin-top: 2.5rem;
	
			#swirl02 {
				top: -2rem;
			}
	
			.work_item {
				margin-bottom: 3rem;
			}

			#view_projects {
				margin-top: 4rem;
			}

		}
	}

	#resume {
		padding: 6rem 1rem 8rem;

		#swirl03 {
			width: 50%;
			background-size: 100% 100%;
		}

		.title_hr {

			hr {
				display: inline-block;
    			background: $light-accent;
    			width: 90%;
			}

			h4 {
				margin-left: -.25rem;
			}
		}

		#view_resume {
			margin-bottom: 0;

			.btn {
				margin-bottom: 0;
			}
		}
	}

	#contact {
		padding: 6rem 1rem;

		h1 {
			margin-top: -5px;
		}

		#say_hello {
			margin: 2.5rem 0 3.5rem;

			hr {
				margin-left: -.5rem;
			}
		}
	}

	#copyright {

		p {
			font-size: 1rem;
		}
	}

	.grid {

		.line {
			margin: 0 -1px 0 25%;
		}
	}
}

// 1024x +
@media (min-width: 64em) {

	body {
	}

	h1 {
		font-size: 2.5rem;
	}

	p {
		font-size: 1.063em;
	}

	#main_container {

		#swirl01 {
			background-size: 100% 100%;
		}
	}

	#header {
		padding: 2.750em 1rem;

		#logo {
			max-width: 55px;
		}

		ul.nav {

			li {
				padding: 0 30px;
			}
		}
	}

	#home {
		padding: 5rem 1rem 7.5rem;

		h1 {
			margin-top: 0;
		}

		h4 {
			margin-top: 2px;
		}
	}

	#work {
		padding: 7rem 1rem;

		#project_container {

			#swirl02 {
				background-size: 100% 100%;
			}

			.work_item {
				&:nth-of-type(1) {
					.client_logo {
						margin-left: .5rem;
					}
				}
	
				&:nth-of-type(2) {
					.client_logo {
						margin-right: .5rem;
					}
				}
			}
		}
	}

	#resume {
		padding: 7rem 1rem 9.5rem;
	}


	#contact {
		padding: 7rem 1rem;

		#swirl01 {
			background-size: 100% 100%;
		}

		h4 {
			margin-top: 2px;
		}
	}

}

// Disable Parallax on Mobile //
@media (max-width: 79.9em) { .rellax { transform: translate3d(0,0,0) !important; } }

// 1280 +
@media (min-width: 80em) {

	.pre_appear {
	
		span {
			opacity: 0;
			visibility: hidden;
		}
	}
	
	.appear_block:not(.pre_appear) {
		position: relative;
		display: inline-block;
		
		span{
			opacity: 0;
			visibility: hidden;
			animation: appear_text 0.00001s linear forwards;
			animation-delay: 0.7s;
		}
	
		&:after{
			content: '';
			top: 0;
			left: 0;
			position: absolute;
			background: $white;
			display: block;
			width: 0%;
			height: 100%;
			animation: appear_block 1.5s ease-in-out forwards;
		}
	}
	
	.appear_block.delay {
	
		span{
			animation-delay: 0.5 + 0.7s;    
		}
	
		&:after{
			animation-delay: 0.5s;
		}
	}

	h1 {
		font-size: 3em;
		margin: 1.125rem 0;
	}

	p {
		font-size: 1.125em;
	}

	hr {
		width: calc(100% - .75rem);
	}

	a.btn {
		padding: 1.875em 2.500em;
		font-size: 0.750em;
	}

	#header {
		
		#logo {
			max-width: 58px;
		}
	}

	#home {
		height: calc(100vh - 220px);
		padding: 0 1rem;
		display: flex;
  		flex-direction: column;
  		justify-content: center;
  		margin-bottom: 70px;

		h1 {
			margin-top: -7px;
		}

		.social_icons {
			margin: 3rem 0 0;

			.svg-inline--fa {
				margin: 0 23px 0 0;
			}
		}

		#scroll_down {
			display: block;
			margin: 10% 0 -10%;
		}
	}

	#work {
		padding: 13.125rem 1rem;

		.title_hr {
			margin-bottom: .5rem;
		}

		#project_container {
			margin-top: 5rem;
	
			#swirl02 {
				top: -3.5rem;
			}
	
			.work_item {
				margin-bottom: 4.375em;

				&:nth-of-type(1) {
					.client_logo {
						margin-left: 1rem;
					}
				}
	
				&:nth-of-type(2) {
					.client_logo {
						margin-right: 1rem;
					}
				}
			}

			#view_projects {
				margin-top: 5.625em;
			}

		}
	}

	#resume {
		padding: 13.125rem 1rem 15.5em;

		.title_hr {
			margin-bottom: .5rem;
		}

		#view_resume {
			margin-top: 2.5rem;
	
			.btn {
				margin-right: 1.875em;
				margin-bottom: 0;
			}
		}
	}


	#contact {
		padding: 13.125rem 1rem;

		h1 {
			margin-top: -7px;
		}

		#contact_details {
			ul {
				li {
					font-size: 1.125em;
					margin-bottom: .125rem;
				}
			}
		}

		#say_hello {
			margin: 3.5rem 0 4rem;
		}

	}

	.grid {

		.line {
			margin: 0 -1px 0 16.666%;
		}
	}
}

// 1440px +
@media (min-width: 90em) {
	
}